.input{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}

.input label{
    font-weight: bold;
    margin-right: 1rem;
}



.input input{
    width: 3rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    font: inherit;
    text-align: center;
}